.dart_tool/
.appdata/
.localappdata/
.android-sdk/
.downloads/
.idea/
*.iml
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
coverage/
pubspec.lock
!example/pubspec.lock
!test_apps/minimal/pubspec.lock
example/.dart_tool/
example/build/
test_apps/minimal/.dart_tool/
test_apps/minimal/build/
